<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.3.1/swiper-bundle.css" integrity="sha512-cAtZ0Luj6XlQ7YGgi5mPW0szI2z/2+btPjOqVEqK3z4h1/qojUwvQyTcocgKKOFv8noUFH5GOuhheX7PeDwwPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <style>
          a{
                text-decoration:none!important;
          }

      </style>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">Son Dakika Haberleri</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="" aria-expanded="false">

                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true"></a>
                          </li>
                        </ul>
                        <form class="d-flex" role="search">
                          <input class="form-control me-2" type="search" placeholder="Haber Ara" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">Ara</button>
                        </form>
                      </div>
                    </div>
                  </nav>               
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h3 class="text-center py-2"><img src="https://foto.haberler.com/genel/banner/2023/10/27/cumhuriyet-100-yasinda--56_66.jpg" alt="Cumhuriyet 100 yaşında!" title="Cumhuriyet 100 yaşında!"></h3>
            </div>
            <div class="row">
                <div class="col-12">
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" align=center>
                      <div class="carousel-inner">
                          <a href="img/{{img}}">
                              <div class="carousel-item active">
                                        <img src="https://i.ytimg.com/vi/XtQw4QA5WGA/maxresdefault.jpg" class="d-block w-50 " alt="">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://i.hbrcdn.com/manset/2023/10/31/donanmanin-100-gemili-resmigecidi-yunanistan-in_16483358_6438_z1.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://i.hbrcdn.com/manset/2023/10/31/dolarda-hareketli-anlar-yasaniyor-iste-kurdaki_16485778_3613_z1.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://i.hbrcdn.com/manset/2023/11/03/abd-den-dunyayi-ayaga-kaldiracak-israil-hamlesi_16495994_7624_z1.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://image.hurimg.com/i/hurriyet/75/647x485/65449e114e3fe02cf46c78b8.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://im.haberturk.com/l/2023/11/02/ver1698927785/3634375_manset/jpg/414x414" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://i13.haber7.net/haber/haber7/bigmanset/2023/44/tarim_kredi_marketten_yag_hamlesi_sayilari_4_bine_cikiyor_1698744430_3266-low.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://i.hbrcdn.com/manset/2023/11/03/41-yasina-yeni-imajiyla-girdi-ozge-ulusoy_16495998_4575_z5.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://image.hurimg.com/i/hurriyet/75/647x485/65448df34e3fe02cf46c7728.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://icdn.ensonhaber.com/crop/720x411/resimler/diger/kok/2023/11/03/65448bcc405dc264.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://trthaberstatic.cdn.wp.trt.com.tr/resimler/2134000/erdogan-aliyev-aa-2135231.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://i.hbrcdn.com/manset/2023/11/03/merakla-beklenen-rakamlar-aciklandi_16496285_9834_z1.jpg" class="d-block w-50" alt="...">
                                      </div>
                              <div class="carousel-item">
                                        <img src="https://www.akdenizhaberler.net/images/haberler/2023/11/medya_temsilcileri_ile_biraraya_geldi_h7582_00cd6.jpgcdcdcd" class="d-block w-50" alt="...">
                                      </div>

                          </a>
                            </div>
                      </div>
                    <h4 class="text-dark py-3">  </h4>
                    <script>
        (function(d, s, id) {
            if (d.getElementById(id)) {
                if (window.__TOMORROW__) {
                    window.__TOMORROW__.renderWidget();
                }
                return;
            }
            const fjs = d.getElementsByTagName(s)[0];
            const js = d.createElement(s);
            js.id = id;
            js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";

            fjs.parentNode.insertBefore(js, fjs);
        })(document, 'script', 'tomorrow-sdk');
        </script>

        <div class="tomorrow"
           data-location-id="108874"
           data-language="EN"
           data-unit-system="METRIC"
           data-skin="light"
           data-widget-type="aqiPollen"
           style=""
        >


        </div>
                </div>


            </div>


            <h4 class="text-dark py-3">Son Dakika Haberleri</h4>
            {% for haber in haber %}
            <div class="col-md-2">

                <a href="haber/{{haber.id}}">
                    <div class="card">
                    <img src="{{haber.kapak}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{haber.isim}}</h5>
                    </div>
                </div>

                </a>

            </div>
            {% endfor %}
        </div>



        <div class="row">
            <div class="col-12">
                <h3 class="text-center py-2"></h3>
            </div>
            {% for ekonomi in ekonomi %}
            <div class="col-md-2">
                <div class="card">
                    <img src="../media/{{ekonomi.kapak}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ekonomi.isim}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card text-center">
  <div class="card-header">
    Reklamlar
  </div>
  <div class="card-body">
      <img width="270" height="65" src="https://media.licdn.com/dms/image/C4E16AQHZuRlGLNqiWA/profile-displaybackgroundimage-shrink_200_800/0/1617973219275?e=2147483647&v=beta&t=03UmoO3zCAKUMZGNT0yNvru4Q-ovFlk5LFfq-xFl2L4" alt="">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="https://www.aribilgi.com/python-yazilim-kursu/" class="btn btn-primary">Hemen Git</a>
  </div>


  </div>
</div>

    </div>

















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.3.1/swiper-bundle.min.js" integrity="sha512-2w85qGM9apXW9EgevsY4S4fnJIUz6U6mXlLbgDKphBuwh7jPQNad70Ll5W+pcIrJ6rIMGpjP0CxYGQwKsynIaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>